body {
  background-color: rgb(202, 250, 250);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(7, 97, 97);
}
.box {
  margin: 30px auto;
  display: block;
  background-color: rgb(164, 236, 236);
  max-width: 600px;
  max-height: 800px;
  border: 2px solid rgb(134, 218, 218);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 10px 10px 15px rgb(119, 194, 194);
}
header {
  text-align: center;
  padding: bottom 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  color: rgb(21, 136, 136);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
h1 {
  font-size: 50px;
  text-decoration: underline;
}
#temperature-value {
  font-weight: 50;
  font-size: 80px;
}
#temperature-emoji {
  font-size: 50px;
}
#windspeed {
  font-size: 20px;
}
#temperature {
  display: flex;
}
#time {
  font-size: 35px;
}
footer {
  font-size: 10px;
}
#button {
  padding: 0 auto;
  border-radius: 3px;
  border: 1px solid rgb(7, 97, 97);
  background-color: rgb(7, 97, 97);
  color: white;
  width: 100px;
  height: 40px;
  font-size: 25px;
  margin: 5px 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}
#button:hover {
  background-color: rgb(202, 250, 250);
  color: rgb(7, 97, 97);
  border: 1px solid rgb(7, 97, 97);
}
#search {
  font-size: 20px;
  width: 300px;
  border: 2px solid rgb(21, 136, 136);
  border-radius: 3px;
  margin: 5px 5px;
}
.weather-data {
  display: contents;
  justify-content: space-between;
}
.search-form {
  display: flex;
}
